@model HomePageViewModel

@{
	ViewData["Title"] = "Anasayfa";
}


<div class="text-center">
	<h1 class="display-4">En Çok Okunan Haberler</h1>
</div>


<section class="py-1">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

			<partial name="_PostPartial" model="Model.Posts" />

		</div>
	</div>
</section>