<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P013KatmanliBlog.MVCUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/P013KatmanliBlog.MVCUI.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Blog Sayfam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index">Tüm Ürünlerimiz</a>
                    </li>
                    @await Component.InvokeAsync("Categories")
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                    </li>
                </ul>
            </div>
            <div class="text-end">
                @if (Context.Session.GetInt32("userId") == null)
                {
                    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary me-2">Giriş</a>
                    <a asp-controller="Account" asp-action="SignIn" class="btn btn-warning">Kayıt</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Index" class="btn btn-primary">Hesabım</a>
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Oturumu Kapat</a>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        @Html.Raw(TempData["Message"])
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright © Your Website 2023</p></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
