@model PostDetailViewModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Img/@Model.Post.ImageUrl" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">Kategori : @Model.Post.Category.Name</div>
                <div class="small mb-1">İçerik  :  @Model.Post.Content</div>
                <h1 class="display-5 fw-bolder">Başlık : @ViewData["Title"]</h1>
                <div class="fs-5 mb-5">
                </div>
                <p class="lead">Yazar : @Html.Raw(Model.Post.Author)</p>
                <div class="d-flex">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">İlişkili Ürünler</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_PostPartial" model="Model.RelatePosts" />
        </div>
    </div>
</section>